body{
	text-align:center;
}

#page{
	width: 900px;
	margin:0 auto;
	background-color: #fff;
}

#header{
	margin:0 0 10px;
	padding:10px;
	background-color:#33c;
	color:fff;
}

#contents{
	float:left;
	width:880px;
	margin:0 0 10px;
	padding: 10px;
	background-color: #33c;
}

#main{
	float:left;
	width: 500px;
	background-color:#fff;
}

#sub{
	float:right;
	width: 370px;
	background-color:#fff;
}

#footer{
	padding: 10px;
	margin:0 0 10px;
	background-color: #33c;
}

.clear{
	clear:left;
}
